doctype html
html
  head
    title ABCD Academy 
    block scripts
    block style
    body
      nav#navbar
       ul
            div#logo
              img(src="../static/img/abcd-logo.jpg", alt="ABCD-Logo") 
              | ABCD #[br]Academy 
            li.list-item #[a(href="/")  Home]
            li.list-item #[a(href="/")  About]
            li.list-item #[a(href="/")  Our Services]
            li.list-item #[a(href="/contact")  Contact Us]
            
      block content
      footer#footer 
          | &copy; Copyright 2022 ABCD Academy | All Rights Reserved